.header {
    z-index: 1000; /* Optional, um die Ebene des Headers anzupassen */
    position: absolute;
    top: 0;
    left: 0;
    width: 95vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 3vw;
    padding-left: 2vw;
    background-color: black;
    color: white;
}

.logo {
	width: auto;
}

.logo a {
    display: inline-flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-size: 24px;
    margin: auto;
    margin-left: 20px;
}

.menu i {
    font-size: 40px;
    display: flex;
    flex-direction: row-reverse;
}

.menu ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 10px;
}

.menu a {
	font-size: 25px;
    text-decoration: none;
}

.menu a:hover {
    color: lightgray;
}

.menu p {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.m2 {
	border-top: 1px solid white;
	margin-top: 2px;
}

.m2:hover {
	border-top: 3px solid lightgray;
	margin-top: 0;
}


@media only screen and (min-width: 700px){
    .hamb{
        display: none;
    }
}

.side-menu {
    display: none;
} /* Hide checkbox */

@media only screen and (max-width: 950px){
    .logo h1 {
        display: none;
    }
}

@media only screen and (max-width: 700px){
    .header {
        position: fixed;
    }

    /* Nav menu */
    .menu {
        width: 100%;
        height: 89vh;
        position: fixed;
        top: 11vh;
        left: 0;
        background-color: #36383F;
        overflow: hidden;
    }

    .menu ul {
        display: block;
    }

    .menu_big a {
        display: block;
        padding: 30px;
        color: #f9f9f9;
    }
    .menu_big a:hover {
        background-color: #85888C;
    }
    .menu{
        max-height: 0;
        transition: max-height .5s ease-out;
    }

    /* Menu Icon */
    .hamb{
        cursor: pointer;
        float: right;
        padding-right: 20px;
        display: inline-flex;
        align-items: center;
    }/* Style label tag */

    .hamb-line {
        background: #f9f9f9;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;

    } /* Style span tag */

    .hamb-line::before,
    .hamb-line::after{
        background: #f9f9f9;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .hamb-line::before{
        top: 5px;
    }
    .hamb-line::after{
        top: -5px;
    }

    .side-menu {
        display: none;
    } /* Hide checkbox */

    /* Toggle menu icon */
    .side-menu:checked ~ nav {
        max-height: 100%;
    }

    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }
}