@media only screen and (min-width: 801px){
.text_team_name {
    font-size: 80px; /* Adjust the size as needed */
}

.text_name {
    font-size:60px
}

.text_title {
    font-size: 25px; /* Adjust the size as needed */
    white-space: pre-line; /* Preserve line breaks in the content */
    margin-left: 20px; /* Adjust the margin as needed */
    display: block;
}


.text_info {
    margin-left: 60px;
    margin-top: 0px; /* Adjust the margin as needed */
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.text_sub-info {
    margin-left: 40px;
    margin-top: 5px; /* Adjust the margin as needed */
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.team{
    margin-left: 20%;
    margin-top:10%;
}

.erklaerungen{
    margin: 5%;
}
}

@media only screen and (max-width: 800px){
    .text_team_name {
        font-size: 40px; /* Adjust the size as needed */
    }
    
    .text_name {
        font-size:30px;
    }
    
    .text_title {
        font-size: 25px; /* Adjust the size as needed */
        white-space: pre-line; /* Preserve line breaks in the content */
        display: block;
    }
    
    
    .text_info {
        margin-top: 0px; /* Adjust the margin as needed */
        margin-bottom: 5px; /* Adjust the margin as needed */
    }
    
    .text_sub-info {
        margin-top: 5px; /* Adjust the margin as needed */
        margin-bottom: 5px; /* Adjust the margin as needed */
    }
    
    .team{
        margin-left: 20%;
        margin-top:10%;
    }
    
    .erklaerungen{
        margin: 5%;
    }

    .mobile_hide{
        display:none;
    }
}